<!-- hero 정보를 넘겨주는 방식에 대응 -->
<!-- 넘겨주는 방식 : <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>

</div>

<!-- 직접 hero 정보를 가져오는 방식으로 변경 -->
<div *ngIf="hero_new">
  <button type="button" (click)="goBack()">go back</button>
  <h2>{{hero_new.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero_new.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero_new.name" placeholder="name">
  </div>

</div>
