/* AppComponent에 적용되는 CSS 스타일 */
h1 {
  margin-bottom: 0;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px; // 버튼 오른쪽 공백 추가
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a.active {
  background-color: black;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
